Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonBP/Blueprints/tesrd2l_8K_Albedo.uasset
Content/ThirdPersonBP/Blueprints/tesrd2l_8K_Albedo_Mat.uasset
Content/ThirdPersonBP/Blueprints/ub1meemn_8K_Albedo.uasset
Content/ThirdPersonBP/Blueprints/ub5hee1fw_8K_Albedo.uasset
Content/ThirdPersonBP/Blueprints/ub1meemn_8K_Albedo_Mat.uasset
Content/ThirdPersonBP/Blueprints/ub5hee1fw_8K_Albedo_Mat.uasset
